<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
</head>
<body>
    <h1>This is Express Example</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci hic est quis! Maiores, autem atque excepturi error voluptas eveniet ratione, quia dignissimos itaque iusto assumenda reiciendis enim ab delectus eius odit, minus repudiandae iste ex ipsam fugit aperiam tempore! Nihil quae error ipsum hic. Saepe ipsam ratione rem officia hic.
    </p>
</body>
</html>